.github/*
lambda-fetch-data/package/*
lambda-fetch-data/dist/
lambda-process-data/dist/
deployment-package.zip
awscliv2.zip
aws/

# gnore Python cache files
__pycache__/
*.py[cod]
*$py.class



*.json
